@font-face {
	font-family: Matteo;
	src: url(../images/Matteo.otf);
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Matteo';
  }
  .absolute{
	position: absolute;
  }
  .grid{
	display: grid;
  }
  .flex{
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  img{
	max-width: 100%;
	height: auto;
  }
  /* .content {display:none;}
.preload { 
    width:500px;
    height: 500px;
    position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);

    left: 50%;
} */